.write {
  padding-top: 50px;
}
.writeImage {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
}
.writeForm {
  position: relative;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}
.writeInput {
  font-size: 1.5rem;
  border: none;
  padding: 20px;
  width: 70vw;
  object-fit: cover;
}
.writeInput:focus {
  outline: none;
}
.WriteText {
  font-size: 1.3rem;
  height: 100vh;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
}
